.view-applicant-container {
  max-width: 650px;
  margin: auto;
  background: white;
  padding: 35px;
  border-radius: 14px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.view-applicant-container h2 {
  font-weight: 700;
  margin-bottom: 20px;
}

.view-applicant-container p {
  margin: 8px 0;
}

.resume-btn {
  margin-top: 25px;
  padding: 12px 20px;
  background: #7f57ff;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.resume-btn:hover {
  background: #5f38ff;
}
